.features-section {
  padding-bottom: 0px;
}

.features {
  display: flex;
}

.features__item + .features__item {
  margin-left: 30px;
}

.features__icon {
  @include flex-centered;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--header-text-color);
}

.features__text {
  line-height: 1.71;
  color: var(--first-text-color);
}
